

label {

}

span {
	position: absolute;
	left: 250px;
}

body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: arial, helvetica, sans-serif;
	color: #000;
	background-color: #7E7777;
	width: 100%;
}
h5 {
	font-size: 18px;
}

a {
	font-size: 18px;
	text-decoration: underline;
	color: #0C0572;
}

#game-description {
	font-size: 16px;
}

#control-description {
	margin-left: 150px;
}

#population-description {
	margin-left: 150px;
}

#events{
	color: #0C0572;
	font-size: 24px;
}